@tailwind base; /*Importa las directivas de tailwind por defecto*/
@tailwind components; /* importa elementos prededifinos de tailwindo como los botones y formularios */
@tailwind utilities; /* importa las clases personalizadas de tailwind .. margin, color.. etc... */ 

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
